body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Header Section style Start here */

.section {
  background-image: url(personal-website/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}
.header_container img {
  width: 450px;
  margin: 0 auto;
}
.header_container h5 {
  font-size: 28px;
  font-weight: normal;
  line-height: 0;
  margin: 0;
}
.header_container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #e14461;
}
.header_container p {
  font-size: 17px;
  color: rgb(155, 155, 155);
  line-height: 1.5;
  margin-bottom: 30px;
}
.link-button {
  background-image: linear-gradient(#ea002b, #dd3756);
  padding: 13px 25px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.section2 {
  background-image: url(personal-website/biography-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 70px 0;
}
.section2-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.section2-container img {
  width: 400px;
}
.text-info {
  margin-top: 50px;
  margin-left: 50px;
  width: 50%;
}
.text-info p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.section3 {
  height: 100vh;
  background-repeat: no-repeat;
}
.section4 {
  height: 100vh;
  background-image: url(personal-website/footer-bg.png);
  background-repeat: no-repeat;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, lightsalmon, rgb(71, 203, 255));
  font-weight: 700;
}

.section3 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}
.write1 img {
  width: 300px;
}
